@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url("https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121f4e;
}

.movies-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(235, 228, 228);
    width: 96%;
    border-radius: 5px;
    margin: 15px auto;
    padding: 5px;
}